.filter-item{
    display: flex;
    padding: 8px;
    background-color: var(--primary-background);
    color: var(--filter-text);
    border: 1px solid var(--gray);
    margin: 10px 10px 10px 0px;
    border-radius: 8px;
    font-size: 14px;
}   
.filter-name{
    margin-left: 5px;
}